/* 
=================
Credits to:
================= 

*/

/* 
=================
Fonts
================= 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@700&display=swap'); */

/* 
=================
Varibles
================= 
*/

:root {
  --clr-primary-1: #392a46;
  --clr-primary-5: #750dd9;
  --clr-primary-9: #f6b1ff;
  --clr-secondary-1: #ff7b49;
  --clr-secondary-2: #ffe5dc;
  --clr-secondary-5: #ffbf42;
  --clr-secondary-9: #f9f871;
  --clr-grey-1: #270082;
  --clr-grey-5: #00559e;
  --clr-grey-9: #e2e9f0;
  --clr-white: #fff;
  --ff-primary: "Poppins", sans-serif;
  /* --ff-secondary: "Roboto Slab", sans-serif; */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
=================
Default Global Styles
================= 
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  /* fpont-size for the small screen - mobile  */
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
=================
More Global Styles
================= 
*/
.btn {
  text-transform: uppercase;
  color: var(--clr-white);
  background-color: var(--clr-primary-5);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  /* font-weight: 700; */
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-primary-1);
  background-color: var(--clr-secondary-5);
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.--section-centered {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .--section-centered {
    width: 95vw;
  }
}

/* 
=================
Navbar
================= 
*/

/* 
=================
Header
================= 
*/
.header {
  min-height: 100vh;
  background-color: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__banner {
  text-align: center;
  color: var(--clr-white);
  padding: 3rem;
}

.header__banner h1 {
  text-transform: uppercase;
}

.header__banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}

.header__btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background-color: var(--clr-white);
  color: var(--clr-primary-5);
}

.header__btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(rgba(117, 13, 217, 0.4),
        rgba(255, 123, 73, 0.4)),
      url("../img/main.jpg") center/cover no-repeat;
  }

  .header__banner {
    padding: 0;
  }

  .header__banner p {
    max-width: 45rem;
  }
}

/* 
=================
About
================= 
*/
.about__img,
.about__info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .about__img,
  .about__info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .about__img {
    position: relative;
  }

  .about__img::before {
    content: "";
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    z-index: -1;
  }
}

/* 
=================
Services
================= 
*/
.--light-bgc {
  /* background-color: var(--clr-secondary-2); */
  background-color: var(--clr-grey-9);
}

.services__unit {
  text-align: center;
  margin-bottom: 3rem;
}

.services__icon {
  background-color: var(--clr-primary-5);
  color: var(--clr-grey-1);
  padding: 0.5rem 0.75rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.services__text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 660px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__unit {
    flex: 0 0 calc(50% - 1rem);
  }

  @media screen and (min-width: 992px) {
    .services__unit {
      flex: 0 1 calc(33.333% - 1rem);
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1170px) {
    .services__unit {
      display: flex;
      text-align: left;
    }

    .services__info {
      padding-left: 1rem;
    }

    .services__text {
      margin: 0;
    }

    .services__icon {
      align-self: start;
    }
  }
}

/* 
=================
Featured Tours
================= 
*/
.featured__tour-card {
  transition: var(--transition);
  background-color: var(--clr-grey-9);
  box-shadow: 0 0 0.75rem rgba(0, 85, 158, 0.2);
  margin-bottom: 2rem;
}

.featured__tour-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.75rem rgba(0, 85, 158, 0.4);
}

.featured__img-container {
  position: relative;
}

.featured__photo {
  height: 18rem;
  object-fit: cover;
}

.featured__date {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}

.featured__info {
  padding: 1.5rem 2rem;
}

.featured__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.featured__footer span {
  text-transform: capitalize;
  line-height: 0;
  color: var(--clr-primary-5);
}

.featured__btn {
  text-align: center;
}

@media screen and (min-width: 768px) {

  .featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .featured__tour-card {
    flex: 0 0 calc(50% - 1rem);
  }

}

@media screen and (min-width: 1170px) {

  .featured__tour-card {
    flex: 0 0 calc(33.333% - 1rem);
  }

}

/* 
=================
Contact
================= 
*/
.--color-bg {
  background-color: var(--clr-primary-5);
}

.contact__title,
.contact__title p {
  color: var(--clr-white);
}

.contact__form {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 28rem;
}

.contact__input {
  flex: 1 1 auto;
  color: var(--clr-primary-5);
  /* min-width: 8rem; */
}

.contact__input,
.contact__btn {
  /* margin: 0.5rem 0; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--spacing);
  background-color: var(--clr-white);
  text-transform: capitalize;
  border: 2px solid transparent;
  /* border: none; */
}

.contact__input::placeholder {
  color: inherit;
}

.contact__btn {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background-color: var(--clr-secondary-5);
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  font-weight: 700;
}

.contact__btn:hover {
  background-color: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width: 992px) {

  .contact {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact__form {
    flex: 1 1 auto;
    max-width: 50%;
    padding-left: 2rem;
  }

  .contact__title {
    max-width: 50%;
  }

}

/* 
=================
Gallery
================= 
*/
.gallery__img-container {
  position: relative;
  background-color: var(--clr-primary-5);
}

.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--clr-white);
  opacity: 0;
  cursor: pointer;
  transition: var(--transition);
}

.gallery__photo {
  height: 17rem;
  object-fit: cover;
  transition: var(--transition);
}

.gallery__img-container:hover .gallery__photo {
  opacity: 0.5;
}

.gallery__img-container:hover .gallery__icon {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__img-container {
    /* flex: 0 0 50%; */
    flex-basis: 50%;
  }

}

@media screen and (min-width: 992px) {
  .gallery__img-container {
    flex-basis: 25%;
  }
}

/* 
=================
Footer
================= 
*/
.footer {
  background-color: var(--clr-primary-1);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer__navigation,
.footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.footer__navigation li {
  margin: 0.5rem 0;
}

.footer__link,
.footer__icon {
  color: var(--clr-white);
  margin: 0 1rem;
  transition: var(--transition);
}

.footer__link {
  font-size: 1rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.footer__icon {
  color: var(--clr-primary-9);
  font-size: 2rem;
}

.footer__link:hover,
.footer__icon:hover {
  color: var(--clr-secondary-5);
}

.copyright {
  color: var(--clr-white);
  text-transform: capitalize;
}


/* 
=================

================= 
*/